<div class="blog-list blog-dyn-list">
    <div class="blog-dyn-items">
        <div class="blog-dyn-item">
            <div class="post-wrapper">
                <a class="blog-title-link blog-inline-block" href="#">
                    <h1 class="blog-title">Overlaid the uselessly twice</h1></a>
                <div class="post-info-wrapper">
                    <div class="post-info">March 2, 2016</div>
                    <div class="post-info">|</div>
                    <a class="post-info when-link" href="#">Tech</a>
                </div>
                <p class="post-f">Hell asdk idoa </p>
                {#                    <p class="post-summary">#}
                {% autoescape false %}
                    {{ name }}
                {% endautoescape %}
                {#                    </p>#}
                <a class="button-round blog-button" href="#">Continue reading →</a>
            </div>
        </div>
    </div>
</div>
<div class="button-wrapper">
    <a class="button blog-button" href="#">More posts&nbsp;→</a>
</div>
