<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>503</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <meta name="msapplication-TileColor" content="#206bc4"/>
    <meta name="theme-color" content="#206bc4"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="robots" content="noindex,nofollow,noarchive"/>
    <link rel="shortcut icon" href="http://192.168.3.4/style/ckeditor/plugins/smiley/images/sad_smile.png"
          type="image/x-icon">
    <link rel="stylesheet" href="/style/node_modules/admin-lte/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap" rel="stylesheet">

</head>
<body class="login-page bg-black">

<div style="font-size: 42px; color: rgba(169,214,215,0.59); margin-right: 40px"></div>
<h2 style="color: rgba(179,209,215,0.6);font-family: 'Carrois Gothic SC', sans-serif;  letter-spacing: 6px; ">К сожалению! Что-то пошло не так.</h2>
</body>
</html>